<section id="{{id_class}}" class="{{id_class}}">
    <h1 class="titleForm">{{title}}</h1>
    <form id="{{id_form}}" class="form">
        <div>Username:</div>
        <div><input type="text" name="username" required /></div>
        <div>Password:</div>
        <div><input type="password" name="passwd" required /></div>
        <div><input type="button" id="{{id_button}}" value="{{value}}" /></div>
    </form>
</section>